@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/img/Llogo.png" alt="Alternate Text" style="width:550px;height:500;padding-bottom:180px;" />
</div>
